name: "Terraform apply production"

on:
  push:
    branches:
      - main
    paths:
      - "terragrunt/**"
      - ".github/workflows/terraform-apply-production.yml"

env:
  AWS_REGION: ca-central-1
  TERRAFORM_VERSION: 1.6.1
  TERRAGRUNT_VERSION: 0.52.1
  TF_VAR_gh_access_token: ${{ secrets.GH_ACCESS_TOKEN }}
  TF_VAR_api_config: ${{ secrets.API_CONFIG }}
  TF_VAR_slack_webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}


permissions:
  id-token: write
  contents: read

jobs:
  terragrunt-apply:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Setup Terraform tools
        uses: cds-snc/terraform-tools-setup@5a19984bcb888600ad646e0caf5c6f4d0a54c165 # v1.2.0

      - name: Configure AWS credentials using OIDC
        uses: aws-actions/configure-aws-credentials@7474bc4690e29a8392af63c5b98e7449536d5c3a # v4.3.1
        with:
          role-to-assume: arn:aws:iam::307395567143:role/gcds-terraform-apply
          role-session-name: TFPlan
          aws-region: ${{ env.AWS_REGION }}

      - name: Apply route53
        working-directory: terragrunt/env/production/route53
        run: terragrunt apply --terragrunt-non-interactive -auto-approve

      - name: Apply CDN
        working-directory: terragrunt/env/production/cdn
        run: terragrunt apply --terragrunt-non-interactive -auto-approve

      - name: Apply API
        working-directory: terragrunt/env/production/api
        run: terragrunt apply --terragrunt-non-interactive -auto-approve

      - name: Apply website
        working-directory: terragrunt/env/production/website
        run: terragrunt apply --terragrunt-non-interactive -auto-approve

      - name: Apply fable-test
        working-directory: terragrunt/env/production/fable-test
        run: terragrunt apply --terragrunt-non-interactive -auto-approve

      - name: Slack message on failure
        if: failure()
        run: |
          json='{"blocks":[{"type":"section","text":{"type":"mrkdwn","text":":red: GitHub workflow failed: <https://github.com/cds-snc/gcds-terraform/actions/workflows/terraform-apply-production.yml|Terraform apply production>"}}]}'
          curl -X POST -H 'Content-type: application/json' --data "$json" ${{ secrets.SLACK_WEBHOOK_OPS }}  